.mainChart {
    width: 100%;
    height: 450px;
    margin-top: 1em;
}
.overviewChart {
    margin-top: 0.75em;
    margin-left: auto;
    width: 97.55%;
    height: 112px;
}

.fa-refresh {
    margin-left: 0.85em;
    font-size: 1.25em;
    margin-top: 0.4em;
    cursor: pointer;
}

